/* VARIABLES */

:root {
  --text-very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --text-soft-red: hsl(14, 88%, 65%);
  --text-very-dark-grayish-blue: hsl(237, 12%, 33%);
  --text-dark-grayish-blue: hsl(240, 6%, 50%);
  --bg-soft-violet: hsl(273, 75%, 66%);
  --bg-soft-blue: hsl(240, 73%, 65%);
  --divider-light-grayish-blue: hsl(240, 5%, 91%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'kumbh Sans';
  font-size: 12px;
}

body {
  background: linear-gradient(
    0deg,
    var(--bg-soft-blue) 0%,
    var(--bg-soft-violet) 100%
  );
  min-height: 100vh;
  background-repeat: no-repeat;
  display: grid;
  justify-content: center;
  grid-template-rows: 4fr 1fr;
  align-items: center;
}

.main-container {
  display: grid;
  background: white;
  box-shadow: 0px 2rem 3rem 1rem var(--bg-soft-blue);
  border-radius: 2rem;
  width: 70vw;
  max-width: 1100px;
  height: 70vh;
  min-height: 480px;
  max-height: 550px;
  margin-top: 100px;

  justify-items: flex-start;
  align-self: flex-end;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}

.img-container {
  width: 100%;
}

.img-container__mobile {
  display: none;
}

.img-container__desktop {
  background-position: -582px -290px;
  display: block;
  overflow: hidden;
  height: 100%;
  background-image: url(images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
}

.img-container__desktop img {
  position: relative;
  top: 15%;
  right: 90px;
}

.img-container__box {
  position: relative;
  bottom: 62%;
  right: 93px;
}

.img-container__box img {
}

.attribution {
  font-size: 1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.right {
  width: 100%;
  padding-top: 6rem;
}

.title-faq {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.accordion {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accordion__qa {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid var(--divider-light-grayish-blue);
}

.accordion__question {
  font-size: 1.5rem;
  height: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  color: var(--text-dark-grayish-blue);
  text-decoration: none;
  cursor: pointer;
}

.accordion__question::after {
  margin-left: 5px;
  content: url(images/icon-arrow-down.svg);
}

.accordion__question:hover {
  color: var(--text-soft-red);
}

.accordion__answer {
  display: block;
  height: 0;
  opacity: 0;
  overflow: hidden;
  margin-bottom: 15px;
  padding-right: 25px;
  font-size: 1.3rem;
  line-height: 20px;
  padding-right: 20px;
  color: var(--text-dark-grayish-blue);
  transition: opacity 1s ease-out;
}

.accordion__qa:focus {
  outline: none;
}

.accordion__qa:focus .accordion__question {
  font-weight: 600;
  outline: none;
}

.accordion__qa:focus .accordion__answer {
  opacity: 1;
  height: auto;
}

.accordion__qa:focus .accordion__question::after {
  transform: rotate(180deg);
  transition: 0.2s ease-in;
}

@media (max-width: 1350px) {
  .main-container {
    grid-template-columns: 300px 1fr;
  }

  .img-container__desktop {
    background-size: 700px;
    background-position: -430px -125px;
  }

  .img-container__desktop img {
    height: 250px;
    top: 27%;
    right: 62px;
  }

  .img-container__box {
    bottom: 55%;
    right: 62px;
  }

  .img-container__box img {
    width: 43%;
  }
}

@media (max-width: 1080px) {
  body {
    align-items: flex-end;
  }

  .main-container {
    width: 320px;
    height: 500px;
    grid-template-columns: 0;

    display: block;
  }

  .img-continer {
    position: relative;
  }

  .img-container__mobile {
    display: block;
    position: absolute;
    height: 250px;
    margin-left: 15px;
    margin-top: -107px;
    background-image: url(images/bg-pattern-mobile.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 25px 110px;
  }

  .img-container__desktop {
    display: none;
  }

  .img-container__box {
    display: none;
  }

  .accordion {
    margin-left: 1.3rem;
    width: 90%;
  }

  .accordion__qa {
    justify-content: space-evenly;
  }

  .accordion__question {
    font-size: 1.2rem;
    padding: 9px 0;
  }

  .accordion__answer {
    font-size: 1rem;
  }

  .title-faq {
    margin: 3.5rem 0;
    text-align: center;
  }
}
